@use '../node_modules/@angular/material' as mat;

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@include mat.core();



$custom-primary: mat.define-palette(mat.$light-blue-palette, 700, 900);
$custom-accent: mat.define-palette(mat.$teal-palette, 600);
$custom-typography: mat.define-typography-config($font-family: 'Figtree');

$lightblue-teal-theme: mat.define-light-theme((color: (primary: $custom-primary,
                accent: $custom-accent ),
            typography: $custom-typography,
            density: 0,
        ));

@include  mat.all-component-themes($lightblue-teal-theme);
