/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* -------------- angular material theme color palettes ------------- */
    
        /* light blue 700 */
        --primary-theme-color: #0288D1;
        /* teal 600 */
        --accent-theme-color: #00897B;
        /* red 500 */
        --warn-theme-color: #F44336;
    
        /* ----------- colors for texts highlights or custom styling ----------- */
        --gray-styling-color: #414141;
        --primary-styling-color: #01579B;
        --secondary-styling-color: #81D4FA;
        --light-styling-color: #80CBC4;
        /* ---------- font for texts ----------- */
        --body-font: 'Figtree', sans-serif;
        
}

html,
body {
    height: 100%;
   
}

* {
    font-family:  var(--body-font) !important;
}

body {
    margin: 0;
}

.modal.fade .modal-dialog {
    transition: all .8s ease-out;
    opacity: 0.3;
    transform: scale(0.9);
}

.modal.show .modal-dialog {
    transform: scale(1);
    opacity: 1;
}

.modal-backdrop {
    --bs-backdrop-bg: lightgray;
    --bs-backdrop-opacity: .8;
    transition: opacity 0.3s linear;
}