/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
    --primary-theme-color: #3f51b5;
    --accent-theme-color: #ff4081;
    --warn-theme-color: #f44538;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.modal.fade .modal-dialog {
    transition: all .8s ease-out;
    opacity: 0.3;
    transform: scale(0.9);
}

.modal.show .modal-dialog {
    transform: scale(1);
    opacity: 1;
}

.modal-backdrop {
    --bs-backdrop-bg: lightgray;
    --bs-backdrop-opacity: .8;
    transition: opacity 0.3s linear;
}