<main>

    <section>
        <div class="contact-form-cont">
            <div class="heading">
                <h2>{{'contact.title' | translate}}</h2>
                <p>{{'contact.questions' | translate}}</p>
            </div>
            <hr>

            <form [formGroup]="contactForm" (ngSubmit)="sendData()">
                <div class="form-cont">


                    <div class="field-box">
                        <mat-form-field appearance="outline">
                            <mat-label for="name">{{'contact.form-name' | translate}}</mat-label>
                            <input matInput autocomplete="Name" id="name" type="text" name="name"
                                formControlName="name">

                            <mat-error class="mat-err" *ngIf="contactForm.get('name')?.errors?.['required']">&nbsp;
                            </mat-error>
                            <mat-error class="mat-err" *ngIf="contactForm.get('name')?.errors?.['minlength']">&nbsp;
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label for="companyName">{{'contact.form-company' | translate}}</mat-label>
                            <input matInput autocomplete="Company Name" id="companyName" type="text" name="companyName"
                                formControlName="companyName">
                            <mat-error class="mat-err" *ngIf="contactForm.get('companyName')?.errors?.['required']">&nbsp;
                            </mat-error>
                            <mat-error class="mat-err" *ngIf="contactForm.get('companyName')?.errors?.['minlength']">&nbsp;
                            </mat-error>
                        </mat-form-field>

                    </div>

                    
                    <div class="field-box">
                        <mat-form-field appearance="outline">
                            <mat-label for="email">{{'contact.form-email' | translate}}</mat-label>
                            <input matInput autocomplete="Email" id="email" type="email" name="email"
                                formControlName="email">
                            <mat-error class="mat-err" *ngIf="contactForm.get('email')?.errors?.['required']">&nbsp;
                            </mat-error>
                            <mat-error class="mat-err" *ngIf="contactForm.get('email')?.errors?.['emailVdtr']">&nbsp;
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label for="phone">{{'contact.form-phone' | translate}}</mat-label>
                            <input matInput autocomplete="Phone" id="phone" type="phone" name="phone"
                                formControlName="phone">
                            <mat-error class="mat-err" *ngIf="contactForm.get('phone')?.errors?.['required']">&nbsp;
                            </mat-error>
                            <mat-error class="mat-err" *ngIf="contactForm.get('phone')?.errors?.['minlength']">&nbsp;
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div class="break"></div>

                    <div class="msg-cont">
                        <mat-form-field appearance="outline">
                            <mat-label for="data" >{{'contact.form-message' | translate}}</mat-label>
                            <textarea matInput autocomplete="Message" name="data" id="data" formControlName="data"></textarea>
                                <mat-error class="mat-err" *ngIf="contactForm.get('data')?.errors?.['required']">&nbsp;
                                </mat-error>
                                <mat-error class="mat-err" *ngIf="contactForm.get('data')?.errors?.['minlength']">&nbsp;
                                </mat-error>
                        </mat-form-field>
                        <button mat-raised-button class="sndBtn" [disabled]="contactForm.invalid"
                            color="primary">{{'contact.form-send' | translate}}</button>

                    </div>
                </div>
            </form>
        </div>
    </section>
    <div class="content-container">
        <ng-content></ng-content>
    </div>

</main>