<main>

    <section>
        <div class="contact-form-cont">
            <div class="heading">
                <h2>Contact us</h2>
                <p>If you have any questions?</p>
            </div>
            <hr>

            <form [formGroup]="contactForm" (ngSubmit)="sendData()">
                <div class="form-cont">


                    <div class="field-box">
                        <mat-form-field appearance="outline">
                            <mat-label for="name">Name</mat-label>
                            <input matInput autocomplete="Name" id="name" type="text" name="name"
                                formControlName="name">

                            <mat-error *ngIf="contactForm.get('name')?.errors?.['required']">Name Form field is
                                required!
                            </mat-error>
                            <mat-error *ngIf="contactForm.get('name')?.errors?.['minlength']">Name is too short!
                                Should be atleast 2 characters
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label for="companyName">Company Name</mat-label>
                            <input matInput autocomplete="Company Name" id="companyName" type="text" name="companyName"
                                formControlName="companyName">
                            <mat-error *ngIf="contactForm.get('companyName')?.errors?.['required']">
                                Company Name field is required!
                            </mat-error>
                            <mat-error *ngIf="contactForm.get('companyName')?.errors?.['minlength']">
                                Company name is too short! Should be atleast 2 characters
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <!-- <div class="field-box">
                        <label for="name">Name</label>
                        <input autocomplete="Name" id="name" type="text" name="name" formControlName="name">
                        <ng-container *ngIf="contactForm.get('name')?.touched">
                            <p class="error" *ngIf="contactForm.get('name')?.errors?.['required']">
                                A name is required!
                            </p>
                            <p class="error" *ngIf="contactForm.get('name')?.errors?.['minlength']">
                                Name is too short! Should be atleast 2 characters
                            </p>
                        </ng-container>

                       <label for="companyName">Company Name</label>
                        <input autocomplete="Company Name" id="companyName" type="text" name="companyName"
                            formControlName="companyName">
                        <ng-container *ngIf="contactForm.get('companyName')?.touched">
                            <p class="error" *ngIf="contactForm.get('companyName')?.errors?.['required']">
                                A Company name is required!
                            </p>
                            <p class="error" *ngIf="contactForm.get('companyName')?.errors?.['minlength']">
                                Company name is too short! Should be atleast 2 characters
                            </p>
                        </ng-container> 
                    </div> -->

                    <div class="field-box">
                        <mat-form-field appearance="outline">
                            <mat-label for="email">Email</mat-label>
                            <input matInput autocomplete="Email" id="email" type="email" name="email"
                                formControlName="email">
                            <mat-error *ngIf="contactForm.get('email')?.errors?.['required']">
                                Email field is required!
                            </mat-error>
                            <mat-error *ngIf="contactForm.get('email')?.errors?.['emailVdtr']">
                                Not a valid email!
                            </mat-error>
                        </mat-form-field>

                        <label for="phone">Phone</label>
                        <input autocomplete="Phone" id="phone" type="phone" name="phone" formControlName="phone">
                        <ng-container *ngIf="contactForm.get('phone')?.touched">
                            <p class="error" *ngIf="contactForm.get('phone')?.errors?.['required']">
                                Phone is required!
                            </p>
                            <p class="error" *ngIf="contactForm.get('phone')?.errors?.['minlength']">
                                Phone should be atleast 10 characters!
                            </p>
                        </ng-container>
                    </div>

                    <div class="break"></div>

                    <div class="msg-cont">
                        <label for="data" class="msg-lbl">Message</label>
                        <textarea autocomplete="Message" name="data" id="data" formControlName="data"></textarea>
                        <ng-container *ngIf="contactForm.get('data')?.touched">
                            <p class="error" *ngIf="contactForm.get('data')?.errors?.['required']">
                                Message is required!
                            </p>
                            <p class="error" *ngIf="contactForm.get('data')?.errors?.['minlength']">
                                Message should be atleast 10 characters!
                            </p>
                        </ng-container>
                        <button mat-raised-button class="sndBtn" [disabled]="contactForm.invalid"
                            color="primary">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <div class="content-container">
        <ng-content></ng-content>
    </div>

</main>