/* Containers */
.contact-form-cont,
.field-box,
.msg-cont,
.heading {
    display: flex;
    flex-direction: column;
}


/* form - container and elements styling */


/* Form heading */
.heading {
    align-items: center;
}

/* main element - form wrapper */
main {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: space-around;
    margin-right: 4.5em;
    color: var(--primary-styling-color);

}



section {
    display: flex;
    flex: 20 20 100%;
}

.content-container {
    display: flex;
    flex: 5 15 50%;
}

/* 1st div inside main wrapper - contains heading + form elements */
.contact-form-cont {
    max-width: 50em;
    margin: 0 0 0 10em;
    border-radius: 5em;
    padding: 2em;
    background: linear-gradient(to top left, var(--primary-styling-color), transparent 55%);
    box-shadow: -5px -1px 88px -32px var(--light-styling-color);
}


/* 1st div inside form element */
.form-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
}

/* container for input fields */
.field-box {
    flex: 1 5 2em;
    padding: 0 0.2em;
    align-items: stretch;
    gap: 1.3em;
}

/* container for text field and button */
.msg-cont {
    flex: 6 1 2em;
    gap: 1em;
}

/* label for textfield */
.msg-lbl {
    flex: 2 1 1;
    align-self: center;
}

/* text field element */
#data {
    height: 10em;
    resize: none;
}

/* input field elements */
input {
    height: 2.5em;
    border: 0em none wheat;
}


input,
#data {
    border-radius: 0.5em;
    outline-style: none;
    border: 0em none white;
}

/* error conditional element */

.mat-err {
    padding-top: 0.5em;
    font-size: 1.5em;
}

/* send button element */
.sndBtn {
    flex: 1 1 3.5em;
    max-width: 15em;
    align-self: flex-end;
    margin-top: 1em;
    border-radius: 3rem;
    padding: 1rem 3rem;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 169, 255);
    text-align: center;
}

/* form horizonalt line element */
hr {
    border: 0.1em solid black;
}

/* empty filler row dummy div */
.break {
    flex-basis: 100%;
    height: 0;
}



/* ---------------- */
/* responsive media queries */
@media screen and (min-width: 1450px) {
    main {
        gap: 20em;
        font-size: 1.2em;
    }
}

/* style for mobile screens up to 250px width */
@media screen and (max-width: 900px) {
    /* change screen container to column flexbox */

    main {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    /* center form wrapper */
    .contact-form-cont {
        border-radius: 0;
        margin: auto
    }

    .content-container {
        flex: 25 35 100%;

    }


}