<div class="container mb-5">
    <div class="heading">
        <h1>{{'transport.title' | translate}}</h1>
    </div>
    <div class="description">
        <p>{{'transport.question' | translate}}</p>
        <p>{{'transport.solution' | translate}}</p>
    </div>

    <div class="heading form">
        <h2>{{'transport.request' | translate}}</h2>
    </div>

    <form [formGroup]="transportForm" #formDirective="ngForm" (submit)="sendTransportData(formDirective)">
        <div class="form-container">

            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label for="fromPlace">{{'transport.from-place' | translate}}</mat-label>
                    <input type="text" matInput placeholder="place" formControlName="fromPlace">
                    <mat-error *ngIf="transportForm.controls['fromPlace'].hasError('required')">{{'error.from' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{'transport.to-place' | translate}}</mat-label>
                    <input type="text" matInput placeholder="place" formControlName="toPlace">
                    <mat-error *ngIf="transportForm.controls['toPlace'].hasError('required')">{{'error.to' | translate}}</mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>{{'transport.from-date' | translate}}</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="fromDate">
                    <mat-error *ngIf="transportForm.controls['fromDate'].hasError('required')">{{'error.from' | translate}}</mat-error>
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{'transport.to-date' | translate}}</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="toDate">
                    <mat-error *ngIf="transportForm.controls['toDate'].hasError('required')">{{'error.to' | translate}}</mat-error>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>{{'transport.pallets' | translate}}</mat-label>
                    <input type="number" matInput placeholder="numbers" formControlName="pallets">
                    <mat-error *ngIf="transportForm.controls['pallets'].hasError('required')">{{'error.pallets' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{'transport.weight' | translate}}</mat-label>
                    <input type="number" matInput placeholder="tons" formControlName="weight">
                    <mat-error *ngIf="transportForm.controls['weight'].hasError('required')">{{'error.weight' | translate}}</mat-error>
                </mat-form-field>
            </div>

            <div class="row last">
                <mat-form-field appearance="outline">
                    <mat-label>{{'transport.name' | translate}}</mat-label>
                    <input type="text" matInput formControlName="name">
                    <mat-error *ngIf="transportForm.controls['name'].hasError('required')">{{'error.firstName-required' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{'transport.phone' | translate}}</mat-label>
                    <input type="text" matInput formControlName="phone">
                    <mat-error *ngIf="transportForm.controls['phone'].hasError('required')">{{'error.phone' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{'transport.email' | translate}}</mat-label>
                    <input type="email" matInput formControlName="email">
                    <mat-error *ngIf="transportForm.controls['email'].hasError('required')">{{'error.email-required' | translate}}</mat-error>
                    <mat-error *ngIf="transportForm.controls['email'].hasError('email')">{{'error.email-notValid' | translate}}</mat-error>
                </mat-form-field>
            </div>

            <div class="button">
                <button type="submit">{{'transport.send' | translate}}</button>
            </div>
        </div>
    </form>
</div>

<app-footer></app-footer>