

.container {
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container>.heading>h1 {
    text-transform: uppercase;
}

.container>.heading {
    text-align: center;
    text-transform: uppercase;
}

.container>.heading>h1 {
    text-transform: uppercase;
    font-weight: 500;
}

.heading.form {
    padding-bottom: 1rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.row {
    display: flex;
    max-width: 50%;
    flex-wrap: nowrap;
}

.last {
    max-width: 33.5%;
}

.button {
    text-align: center;
    
    
}

button {
    border: 1px solid;
    border-radius: 3rem;
    padding: 1rem 3rem;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 169, 255);
    text-align: center;
}

.description {
    text-align: center;
}