nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.navBar {
    padding: 0.8rem 1.5rem; 
}


.nav li {
    display: block;
    
}

.logo {
    width: 12%;
}

.logo img {
    width: 100%;
}


@media screen and (max-width: 990px) {

    .navbar-toggler {
        margin-right: 30px;
    }
    
    .navbar-collapse {
        display: none;
        position: absolute;
        top: 75px;
        background-color: #0288d1;;
        z-index: 999;
        padding: 0 0.5rem;
    }

    .navbar-collapse.show {
        display: block;
    }

    

}
   



