
nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.navBar {
    padding: 0.8rem 1.5rem; 
}


.nav li {
    display: block;
    
}

.lang .dropdown-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.logo {
    width: 12%;
}

.logo img {
    width: 100%;
}

.language-switcher a{
    text-decoration: none;
}


@media screen and (max-width: 990px) {

    .navbar-toggler {
        margin-right: 30px;
    }
    
    .navbar-toggler:hover {
        background-color: #0288d1;
    }

    .navBar .dropdown-menu {
        background-color: #0288d1;
        padding: 0.5rem;
    }

    .navBar .dropdown-item:hover {
        background-color: white; 
        border-radius: 6px;
     }

    .nav-item:hover {
        background-color: white;
        border-radius: 6px;
        padding: 0 0.2rem;
        margin-top: 0.3rem;
    }

    .navbar-collapse {
        display: none;
        position: absolute;
        top: 75px;
        background-color: #0288d1;
        z-index: 999;
    }

    .navbar-collapse.show {
        display: block;
    }

    #navbarTogglerDemo01 {
        border-radius: 6px;
        padding: 0 0.5rem;
    }

}
   



