<div class="nav">
<nav class="navbar navbar-expand-lg" id="navbarToggleExternalContent">
    <div class="logo">
        <a class="nav-link icon-link-hover"
           routerLink="/">
            <img class="img-fluid"
                 src="../../../../assets/logo-files/png/logo-no-background.png">
        </a>
    </div> 
    <div class="navBar" (click)="toggleNavbar()">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
         data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" 
         aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
             [ngClass]="{ 'show': isActive, 'd-none': !isActive }"
             id="navbarTogglerDemo01">
            <!-- <a class="navbar-brand" href="#"></a>     -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link icon-link-hover"
                       routerLink="/home">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       routerLink="/about">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       routerLink="/vehicles">VEHICLE PARK</a>
                </li>
                <li class="nav-item dropdown"
                    (click)="toggleNavbar()">
                    <a class="nav-link dropdown-toggle"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">REQUEST</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                               (click)="toggleNavbar()"
                               routerLink="request/transport">Transport</a></li>
                        <li><a class="dropdown-item"
                               (click)="toggleNavbar()"
                               routerLink="request/spedition">Spedition</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       routerLink="/jobs">CAREERS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       routerLink="features/contact">CONTACT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       routerLink="/auth/login">LOGIN</a>
                </li>
                
            </ul>
        </div>
    </div>  
</nav>
<div class="nav-item dropdown languages">
    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="flag-icon {{selectedIconClass}}"></i> {{selectedLanguage}}</a>
    <ul class="dropdown-menu langs">
        <li><a class="dropdown-item" (click)="switchLanguage('en')" routerLink=""><i class="flag-icon flag-icon-us"></i> EN</a></li>
        <li><a class="dropdown-item" (click)="switchLanguage('bg')" routerLink=""><i class="flag-icon flag-icon-bg"></i> BG</a></li>
        <li><a class="dropdown-item" (click)="switchLanguage('de')" routerLink=""><i class="flag-icon flag-icon-de"></i> DE</a></li>
    </ul>
</div>
</div>