mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem 0rem 0rem;
}

.shadow-effect {
    border: none;
    box-shadow: 0px 0px 30px -20px rgb(39, 39, 39);
}

hr {
    color: var(--primary-theme-color);
    height: 1px;
    width: 100%;
}

.mat-mdc-card-header,
.mat-mdc-card-content {
    flex-direction: column;
    min-width: 50%
}

.mat-mdc-form-field {
    width: 100%;
}

mat-label mat-icon {
    padding-top: 2px;
    margin-right: 2px;
}

/* start of messages links and errors */
.mat-mdc-form-field-error {
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    transition: color .2s linear;
}

p,
a {
    color: var(--primary-theme-color);
}

p a {
    font-weight: 700;
}

p a:hover,
a:hover {
    cursor: pointer;
    color: var(--accent-theme-color);
}

/* end of messages links and errors */

.mat-mdc-card-footer {
    background-color: #f5f5f5;
    padding-bottom: 1rem;
    width: 100%;
}

button {
    min-width: 140px;
}

#border-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10px;
    width: 100%;
    background-color: var(--secondary-styling-color);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}


@media screen and (min-width:480px) and (max-width:767px) {
    div#content {
        max-width: 70%;
    }
}

@media screen and (min-width:992px) and (max-width:1440px) {
    mat-card {
        min-width: 600px;

    }

    div#content {
        min-width: 90%;
    }
}