footer {
    background-color: var(--primary-theme-color);
    /* position: static; */
    /* bottom: 0;
    left: 0; */
    height: fit-content;
    width: 100%;
    font-weight: 300;
    background-color: var(--primary-theme-color);
}

#rounded-background {
    border-top-left-radius: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 10%, var(--primary-styling-color));
}

p.column-header {
    font-size: .9rem;
    border-bottom: 0.5px solid;
    width: fit-content;
    text-transform: uppercase;
}

p,
p.text-small {
    font-size: 0.75rem;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
}

p.mono-space {
    font-family: Courier, monospace;
    font-size: 0.85rem;
    font-weight: 600;
}

footer .nav-link {
    text-transform: uppercase;
}

.mat-icon {
    transform: scale(.85);
    vertical-align: middle;
    padding-bottom: 0;
    margin-bottom: 0;
}

.material-icons {
    font-size: 18px;
}

@media screen and (max-width: 420px) {
    footer div#first-row {
        justify-content: left !important;
    }
}
