<footer class="text-white pb-0">
    <div id="rounded-background"
         class="pt-5">
        <div id="first-row"
             class="row col-12 justify-content-evenly align-items-start column-gap-md-3 column-gap-1 row-gap-3 mx-0 pb-4">
            <div class="col-auto d-flex flex-column px-3">
                <p class="column-header">
                    <mat-icon aria-hidden="false"
                              aria-label="explore icon"
                              fontIcon="explore"></mat-icon> Who we are
                </p>
                <p><a routerLink="/about"
                       class="nav-link">ABOUT US</a></p>
                <p><a routerLink="/vehicles"
                       class="nav-link">VEHICLE PARK</a></p>
                <p><a routerLink="/jobs"
                       class="nav-link">CAREERS</a></p>
                <p><a routerLink="/features/contact"
                       class="nav-link">CONTACT US</a></p>
            </div>
            <div class="col-auto d-flex flex-column px-3">
                <p class="column-header">
                    <mat-icon aria-hidden="false"
                              aria-label="done outline icon"
                              fontIcon="done_outline"></mat-icon> Our services
                </p>
                <p><a routerLink="/request/transport"
                       class="nav-link">REQUEST TRANSPORT</a></p>
                <p><a routerLink="/request/spedition"
                       class="nav-link">REQUEST SPEDITION</a></p>
            </div>
            <div class="col-auto d-flex flex-column px-3">
                <p class="column-header align-items-center">
                    <mat-icon aria-hidden="false"
                              aria-label="phone icon"
                              fontIcon="phone"></mat-icon> Call us
                </p>
                <p class="text-small">+359 878 83 1309</p>
                <p class="text-small">+359 877 83 1309</p>
                <p class="text-small">+359 878 85 0340</p>
            </div>
            <div class="col-auto d-flex flex-column px-3">
                <p class="column-header align-items-center">
                    <mat-icon aria-hidden="false"
                              aria-label="email icon"
                              fontIcon="email"></mat-icon> Send email
                </p>
                <p>algona_gi&#64;abv.bg</p>
                <p>alex.ivanov&#64;algona.ltd</p>
            </div>
            <div class="col-auto d-flex flex-column px-3">
                <p class="column-header align-items-center">
                    <mat-icon aria-hidden="false"
                              aria-label="phone icon"
                              fontIcon="place"></mat-icon>Address
                </p>
                <p>Bulgaria, Ruse, "Pliska" street 91</p>
            </div>
        </div>
    </div>
    <div class="row col-12 justify-content-center mx-0">
        <div class="col-auto d-flex flex-column px-3 pt-2">
            <p>Copyright &#169; 2024 <span class="fw-semibold">Algona LTD</span></p>
        </div>
    </div>
</footer>
