<div class="screen-cont">

    <div class="page-cont container pt-4 mb-5">
        <div class="headign">
            <h1 class="px-4">Manage Requests</h1>
            <hr class="mb-2 col-6 mx-auto">
        </div>
        <div class="sped-cont">
            <h2> Spedition Requests Management Table</h2>
            <app-spedition-req-table></app-spedition-req-table>
        </div>
        <div class="transport-cont">
            <h2> Transport Requests Management Table</h2>
            <app-transport-req-table></app-transport-req-table>
        </div>

    </div>
    <app-footer></app-footer>
</div>