
.text-center {
    text-align: center;
}

.btn {
    min-width: 7rem;
}

.btns {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.stats {
    display: flex;
    justify-content: center;
}

#table {
    background: linear-gradient(to top left, var(--primary-styling-color), transparent 55%);
    box-shadow: 0em 0em 1em -0.4em rgb(39, 39, 39);
}