<section id="reset-section" class="py-5">
    <div class="col-lg-5 col-md-6 col-11 mx-auto">
        <form [formGroup]="resetPasswordForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
            <mat-card class="shadow-effect">
                <mat-card-header>
                    <h1 class="text-black-50 text-center mb-1">{{'reset.reset-password' | translate}}</h1>
                    <hr>
                </mat-card-header>

                <div formGroupName="passwordGroup" id="content" class="col-lg-10 col-md-12 col-12">
                    <mat-card-content>
                        <mat-form-field>
                            <mat-label><mat-icon>vpn_key</mat-icon>{{'reset.new-pass' | translate}}</mat-label>
                            <input formControlName="newPassword" name="newPassword" type="password" matInput>
                            <mat-error *ngIf="resetPasswordForm.get('passwordGroup.newPassword')?.hasError('required')">{{'error.password-required' | translate}}</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label><mat-icon>vpn_key</mat-icon>{{'reset.confirm-pass' | translate}}</mat-label>
                            <input formControlName="confirmPassword" name="confirmPassword" type="password" matInput>
                            <mat-error *ngIf="resetPasswordForm.get('passwordGroup.confirmPassword')?.hasError('required')">{{'error.rePassword-required' | translate}}</mat-error>
                            <mat-error *ngIf="resetPasswordForm.get('passwordGroup')?.errors?.['matchPasswordsValidator']">{{'error.rePassword-notMatch' | translate}}</mat-error>
                        </mat-form-field>

                    </mat-card-content>
                </div>

                <mat-card-actions class="pb-4">
                    <button [disabled]="resetPasswordForm.invalid" mat-raised-button color="primary">{{'reset.confirm' | translate}}</button>
                </mat-card-actions>
                <mat-card-footer>
                    <p class="pt-4 text-center"><a routerLink="/auth/login">{{'reset.back' | translate}}</a></p>
                </mat-card-footer>
                <div id="border-line"></div>
            </mat-card>
        </form>
    </div>
</section>