/* container - screen wrapper styling*/
.screen-cont {
    display: flex;
    flex-direction: column;
    box-shadow: 0em 0em 20em -10em rgb(39, 39, 39);
    /* background-color: #cdf5fd75; */
    background: linear-gradient(to bottom right, #fbffff, #cce0f0  95%);
    border-radius: 15em 0 0 0;
    align-items: center;
    font-family: inherit;
    margin: auto;
    padding-top: 2em;
    min-height: 100vh;
}


/* ------------------------------------------------- */
/* Information banner styling */

/* info banner based container */
.description-cont {
    flex: 2 1 10em;
    /* background-color: #89CFF3; */
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 2em 0 0 2em;
    font-size: 0.9em
}





/* info banner headers container */
.desc-heads {
    display: flex;
    flex-direction: row;
    padding: 0.5em 2em;
    align-items: center;
    justify-content: center;
}

/* headers h4 elements */
.desc-heads>h4 {
    font: inherit;
    font-size: 1.3em;
    margin: 0 0.5em;

}

.mat-icon {
    font-size: 3em;
    width: fit-content;
    height: fit-content;
}

/* paragraph container */
.info-cont {
    padding: 2em;
    box-shadow: 0em 0em 1em -0.4em rgb(39, 39, 39);
    margin: 0.5em 1em;
    /* background-color: #E0F2F1; */
    background: linear-gradient(to left top, var(--primary-styling-color), transparent);
    color: white;
    border-radius: 1em;
    text-align: center;
    border-radius: 2em 0 0 8em;
    transition: 0s background-color;
    transition-delay:1s;

}

.info-cont:hover {
    background: linear-gradient(to left top, var(--light-styling-color), transparent 90%);
}


.phones {
    display: flex;
    flex-direction: column;
}




/* style for mobile screens up to 250px width */
@media screen and (max-width: 900px) {

    /* remove border styling */
    .screen-cont {
        border-radius: 0;
    }

    /* center info banner */
    .description-cont {
        margin: auto;
        border-radius: 5em;
        width: 100vw;

    }

    /* switch info banner headers to column flexbox and style responsively */
    .desc-heads {
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        padding-bottom: 1em;
    }

    /* stretch info banner paragraph boxes to fill out screen width and center text */
    .info-cont {
        text-align: center;
        flex: 13 15 100%;
        padding: 1.5em 3em;
        font-size: 1.2em;
        border-radius: 2em 8em;
        margin: 2em
    }



}

@media screen and (max-width: 400px) {
    .info-cont {
        font-size: 0.9em;
        border-radius: 0;
    }
}

