<div class="screen-cont">


    <app-contact-form>
        <div class="description-cont">
            <div class="info-cont">
                <div class="desc-heads">
                    <mat-icon class="icon-display" aria-hidden="false" aria-label="emailicon" fontIcon="email"></mat-icon>
                    <h4>EMAIL</h4>
                </div>
                <p>algona_gi&#64;abv.bg</p>
                <p>alex.ivanov&#64;algona.ltd</p>
            </div>
            <div class="info-cont">
                <div class="desc-heads">
                    <mat-icon class="icon-display" aria-hidden="false" aria-label="phone icon" fontIcon="phone"></mat-icon>
                    <h4>PHONE</h4>
                </div>
                <p>+359 878 83 1309</p>
                <p>+359 877 83 1309</p>
                <p>+359 878 85 0340</p>
            </div>
            <div class="info-cont">
                <div class="desc-heads">
                    <mat-icon class="icon-display" aria-hidden="false" aria-label="email icon" fontIcon="home"></mat-icon>
                    <h4>ADDRESS</h4>
                </div>
                <p>Bulgaria, Ruse, Pliska str 91</p>
            </div>
        </div>
    </app-contact-form>

    <app-map></app-map>

</div>

<app-footer></app-footer>