<div class="screen-cont">

    <div class="d-flex flex-wrap justify-content-center gap-4 align-items-center">

        <app-contact-form></app-contact-form>
        <div class="description-cont">
            <div class="info-cont">
                <div class="desc-heads">
                    <mat-icon class="icon-display"
                              aria-hidden="false"
                              aria-label="emailicon"
                              fontIcon="email"></mat-icon>
                    <h4>EMAIL</h4>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur </p>
            </div>
            <div class="info-cont">
                <div class="desc-heads">
                    <mat-icon class="icon-display"
                              aria-hidden="false"
                              aria-label="phone icon"
                              fontIcon="phone"></mat-icon>
                    <h4>PHONE</h4>
                </div>
                <p>+359123456789</p>
                <p>+359123456789</p>
                <p>+359123456789</p>
                <p>+359123456789</p>
            </div>
            <div class="info-cont">
                <div class="desc-heads">
                    <mat-icon class="icon-display"
                              aria-hidden="false"
                              aria-label="email icon"
                              fontIcon="home"></mat-icon>
                    <h4>ADDRESS</h4>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur </p>
                <p>Lorem ipsum, dolor sit amet consectetur </p>
            </div>
        </div>
    </div>
    <app-map></app-map>

</div>