<section id="login-section"
         class="py-5">
    <div class="col-lg-5 col-md-6 col-11 mx-auto">
        <form [formGroup]="loginForm"
              (ngSubmit)="onSubmit()">
            <mat-card class="shadow-effect">
                <mat-card-header>
                    <h1 class="text-black-50 text-center mb-1">{{'login.title' | translate}}</h1>
                    <hr>
                </mat-card-header>

                <div id="content"
                     class="col-lg-10 col-md-12 col-12">
                    <mat-card-content>

                        <mat-form-field>
                            <mat-label><mat-icon>email</mat-icon>{{'login.form-email' | translate}}</mat-label>
                            <input formControlName="email"
                                   type="email"
                                   autocomplete="email"
                                   matInput>
                            <ng-container *ngIf="fc.email.touched && fc.email.invalid">
                                <mat-error *ngIf="fc.email.errors?.['required']" [@fade]>Email is
                                    required!</mat-error>
                                <mat-error *ngIf="fc.email.errors?.['email']" [@fade]>Email is
                                    not valid!</mat-error>
                            </ng-container>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label><mat-icon>vpn_key</mat-icon>{{'login.form-password' | translate}}</mat-label>
                            <input formControlName="password"
                                   type="password"
                                   autocomplete="current-password"
                                   matInput>
                            <ng-container *ngIf="fc.password.touched && fc.password.invalid">
                                <mat-error *ngIf="fc.password.errors?.['required']" [@fade]>Password is
                                    required!</mat-error>
                            </ng-container>
                        </mat-form-field>
                        <a class="pt-0 mt-0 small"
                           routerLink="/auth/forgottenPassword">{{'login.forgot-pass' | translate}}</a>

                    </mat-card-content>
                </div>

                <mat-card-actions class="pb-4">
                    <button [disabled]="loginForm.invalid"
                            mat-raised-button
                            color="primary">{{'login.login' | translate}}</button>
                </mat-card-actions>
                <mat-card-footer>
                    <p class="pt-4 text-center">{{'login.notAMember' | translate}} <a routerLink="/auth/register">{{'login.register' | translate}}</a></p>
                </mat-card-footer>
                <div id="border-line"></div>
            </mat-card>
        </form>
    </div>
</section>

<app-footer></app-footer>