h1 {
    text-align: center;
    padding-bottom: 0px;
    font-weight: 300;
    font-size: 2rem;
    color: var(--gray-styling-color);
}

.card {
    max-width: fit-content;
    max-height: fit-content;
    min-width: none;
}

button.preview { position: relative; width: 250px; height: 200px;
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: 0;
    border-radius: inherit;
}

button.preview img {
    object-fit: cover;
    width: 250px;
    height: 200px;
    box-shadow: 0px 0px 16px -8px black;
    transition: box-shadow 0.2s linear;
}

button.preview img:hover {
    box-shadow: 0px 0px 16px -4px black;
}

.modal-header p {
    margin-top: 4px;
    margin-bottom: 4px;
    color: gray;
}

.flex-basis {
    flex-basis: 80rem;
}

.modal-body img {
    max-height: 520px;
    object-position: center;
    overflow: hidden;
}

#btn-back-to-top {
    position: absolute;
    z-index: 1000;
    padding: 0;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--accent-theme-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2.no-images {
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.5;
}

img.unavailable {
    background-position: center;
}

@media screen and (max-width:500px) {
    section h1 {
        font-size: 1.5rem;
    }

    section .card:hover {
        scale: none;
    }

    h2.no-images {
        font-size: 1.7rem;
        line-height: 1.3;
    }

    button.preview {
        width: 190px;
        height: 140px;
    }
}

@media screen and (min-width:501px) and (max-width:948px) {
    button.preview {
        width: 190px;
        height: 140px;
    }
}