.transparent-filter {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3) 30%);
    height: 80.33px;
    width: 100%;
    z-index: -1;
    box-shadow: 0 0 8px -4px black;
}

.blend-mode {
    backdrop-filter: blur(2px);
}

img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    object-position: center;
    z-index: -100;
}

h5,
p {
    line-height: normal;
    margin-bottom: 26px;
    text-shadow: 0 0 5px rgb(12,12,12);
}

.caption-bg {
    background: radial-gradient(rgba(0, 0, 0, 0.871), transparent 60%);
}

h5 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
    font-weight: 200;
}

.mdc-button {
    background-color: var(--primary-theme-color) !important;
}

button.btn-fluid {
    background-color: var(--primary-theme-color);
}

/* fluid button effect */
.btn-fluid {
    height: fit-content;
    cursor: pointer;
    position: relative;
    color: white;
    z-index: 1;
    border: .5px solid var(--primary-theme-color) !important;
    border-radius: .2rem;
    background-color: transparent;
    overflow: hidden;
    text-transform: uppercase;
}

.btn-fluid:hover::before {
    top: 0px;
    border-radius: 0;
}

.btn-fluid::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--primary-styling-color), var(--light-styling-color));
    border-radius: 80% 80% 0% 0%;
    z-index: -1;
    transition: all .9s;
}

@media screen and (min-width: 769px) and (max-width: 908px) {
   .transparent-filter {
      height: 87.33px;
   }
}

@media screen and (min-width: 909px) and (max-width: 1440px) {
   .transparent-filter {
      height: 89.33px;
   }
}

@media screen and (max-width: 580px) {
    .transparent-filter {
        background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    }

    .caption-bg {
        background: radial-gradient(rgba(0, 0, 0, 0.2), transparent 60%);
    }

    h5 {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 768px) {
    .transparent-filter {
        height: 70.33px;
    }
}