<img src="assets/algona-photos/home/hero-about-us.jpg"
     class="position-absolute z-n1 top-0 start-0 w-100"
     alt="Algona-vehicles"
     @fade>
<div class="transparent-filter blend-mode"></div>
<section id="hero-section">
    <div class="w-100">
        <div class="caption-bg carousel-caption rounded py-5 shadow-effect" data-aos="fade-down"
         data-aos-duration="1500"
         data-aos-delay="200">
            <h5>
                <span class="fw-bold">{{'hero.name' | translate}}</span><br>{{'hero.action-one' | translate}}
            </h5>
            <p class="fs-4">{{'hero.question-one' | translate}}<br>{{'hero.find' | translate}}</p>

            <button class="fw-bold py-2 btn-fluid"
            routerLink="/about"
                    mat-raised-button
                    color="primary">{{'hero.about' | translate}}</button>
        </div>
    </div>
</section>

