

.container {
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.container>.heading {
    text-align: center;
    text-transform: uppercase;
}

.container>.heading>h1 {
    text-transform: uppercase;
    font-weight: 500;
}
    
.heading.form {
    padding-bottom: 1rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.row {
    display: flex;
    max-width: 50%;
    flex-wrap: nowrap;
}

.last {
    max-width: 33.5%;
}

.button {
    text-align: center;
}

button {
    border: 1px solid;
    border-radius: 3rem;
    padding: 1rem 3rem;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 169, 255);
    text-align: center;
    text-transform: uppercase;
}


.description {
    text-align: center;
}

@media screen and (min-width:320px) and (max-width:516px) {
    .row {
        padding-bottom: 1.5rem;
    }

    .button {
        margin-top: 2.5rem;
    } 
}

@media screen and (min-width:517px) and (max-width:724px) {

    .button {
        margin-top: 1.5rem;
    }
}