<div class="container mb-5">
    <div class="heading">
        <h1>{{'spedition.title' | translate}}</h1>
    </div>
    <div class="description">
        <p>{{'spedition.question' | translate}}</p>
        <p>{{'spedition.solution' | translate}}</p>
    </div>
    
    <div class="heading form">
        <h2>{{'spedition.request' | translate}}</h2>
    </div>

    <form [formGroup]="speditionForm" #formDirective="ngForm" (submit)="sendSpeditionData(formDirective)">
        <div class="form-container">

            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label for="fromAddress">{{'transport.from-place' | translate}}</mat-label>
                    <input type="text" matInput placeholder="place" formControlName="fromAddress">
                    <mat-error *ngIf="speditionForm.controls['fromAddress'].hasError('required')">{{'error.from' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{'transport.to-place' | translate}}</mat-label>
                    <input type="text" matInput placeholder="place" formControlName="toAddress">
                    <mat-error *ngIf="speditionForm.controls['toAddress'].hasError('required')">{{'error.to' | translate}}</mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>{{'transport.from-date' | translate}}</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="fromDate">
                    <mat-error *ngIf="speditionForm.controls['fromDate'].hasError('required')">{{'error.from' | translate}}</mat-error>
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{'transport.to-date' | translate}}</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="toDate">
                    <mat-error *ngIf="speditionForm.controls['toDate'].hasError('required')">{{'error.to' | translate}}</mat-error>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>{{'transport.pallets' | translate}}</mat-label>
                    <input type="number" matInput placeholder="numbers" formControlName="numberOfPallets">
                    <mat-error *ngIf="speditionForm.controls['numberOfPallets'].hasError('required')">{{'error.pallets' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{'transport.weight' | translate}}</mat-label>
                    <input type="number" matInput placeholder="totalWeight" formControlName="totalWeight">
                    <mat-error *ngIf="speditionForm.controls['totalWeight'].hasError('required')">{{'error.weight' | translate}}</mat-error>
                </mat-form-field>
            </div>

            <div class="row last">
                <mat-form-field appearance="outline">
                    <mat-label>{{'transport.name' | translate}}</mat-label>
                    <input type="text" matInput formControlName="name" name="Name">
                        <mat-error *ngIf="speditionForm.controls['name'].hasError('required')">{{'error.firstName-required' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{'transport.phone' | translate}}</mat-label>
                    <input type="text" matInput formControlName="phoneNumber">
                    <mat-error *ngIf="speditionForm.controls['phoneNumber'].hasError('required')">{{'error.phone' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{'transport.email' | translate}}</mat-label>
                    <input type="email" matInput formControlName="email">
                    <mat-error *ngIf="speditionForm.controls['email'].hasError('required')">{{'error.email-required' | translate}}</mat-error>
                    <mat-error *ngIf="speditionForm.controls['email'].hasError('email')">{{'error.email-notValid' | translate}}</mat-error>
                </mat-form-field>
            </div>

            <div class="button">
                <button type="submit">{{'transport.send' | translate}}</button>
            </div>
        </div>
    </form>
</div>

<app-footer></app-footer>