#careers-section {
    min-height: 500px;
}

h1,
h6 {
    text-align: center;
    padding-bottom: 0px;
    font-weight: 300;
    color: #494949;
}

h1 {
    font-size: 2.5rem;
}

h6 {
    font-size: 1.5rem;
    line-height: 1.5;
}

h6 span {
    color: var(--primary-styling-color);
    font-weight: 700;
}

tr:not(:last-of-type) {
    border-bottom: .5px solid var(--primary-styling-color);
}

table td {
    padding: 24px 10px 24px 10px;
}

td#job-title {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-theme-color);
}

td#job-title span{
    width: 80%;
}

td#job-title mat-icon {
    opacity: 0.5;
    transform: scale(0.9);
    color: var(--primary-styling-color);
}

span + span {
    margin-left: 2px;
}

table a {
    text-transform: uppercase;
    height: auto;
    padding: 6px;
    text-align: center;
    font-size: 0.75rem;
}

table a.mdc-button {
    width: fit-content;
}

@media screen and (max-width: 420px) {

    table#table {
        font-size: .7rem;
    }

    table#table td {
        max-width: 156px;
        padding: 2px;
    }

    td#job-title {
        gap: 4px;
    }

    mat-icon {
        min-width: fit-content;
        padding-right: 4px;
    }

    table a {
        padding-left: 2px;
        padding-right: 2px;
    }

    table a.mdc-button {
        font-size: 0.5rem;
    }
}

@media screen and (min-width: 421px)and (max-width: 768px) {
    tr td:first-of-type {
        padding-left: 16px !important;
    }

    td#job-title {
        gap: 0;
    }

    tr td:last-of-type {
        padding-right: 16px !important;
    }
}