<div class="screen-cont">
    <section @fade id="careers-section" class="container-fluid pt-4 mb-5">
        <div class="bg-light pb-4 pt-4">
            <h1 class="px-4">{{'careers.title' | translate}}</h1>
            <h6 class="px-4"><span>{{'careers.subtitle-one' | translate}}</span> {{'careers.subtitle-two' | translate}}
            </h6>
            <hr class="mb-2 col-6 mx-auto">
        </div>
        <div *ngIf="jobs?.at(0); else noContentTemplate"
            class="d-flex justify-content-center my-5 col-lg-6 col-md-8 m-auto">
            <table id="table" class="bg-light rounded align-middle flex-grow-1">
                <tbody>
                    <tr *ngFor="let job of jobs; let odd = odd" [ngClass]="{'bg-white': odd}">
                        <td id="job-title" class="fw-semibold px-md-4 px-1"><span>{{job.title}}</span>
                            <mat-icon>business_center</mat-icon>
                        </td>

                        <td class="w-auto px-md-4 px-1"><a [routerLink]="['/jobs/details', job.id]" mat-raised-button
                                color="primary">{{'careers.details' | translate}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <ng-template #noContentTemplate>
        <div class="bg-light d-flex flex-column">
            <h3 class="my-5 text-black-50 lh-base fw-light text-center">{{'careers.noJob' |
                translate}}<br>{{'careers.chеck' | translate}}</h3>
        </div>
    </ng-template>

    <app-footer></app-footer>
</div>