<section id="forgot-section"
         class="py-5">
    <div class="col-lg-5 col-md-6 col-11 mx-auto">
        <form [formGroup]="forgotPasswordForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)"
              >
            <mat-card class="shadow-effect">
                <mat-card-header>
                    <h1 class="text-black-50 text-center mb-1">FORGOT PASSWORD</h1>
                    <hr>
                </mat-card-header>

                <div id="content"
                     class="col-lg-10 col-md-12 col-12">
                    <mat-card-content>
                        <mat-form-field>
                            <mat-label><mat-icon>email</mat-icon>Email</mat-label>
                            <input formControlName="email"
                                   type="email"
                                   autocomplete="email"
                                   matInput>
                                   <mat-error *ngIf="forgotPasswordForm.controls['email'].hasError('required')">The Email is
                                    required!</mat-error>
                                <mat-error *ngIf="forgotPasswordForm.controls['email'].hasError('email')">Email is not valid!</mat-error>
                        </mat-form-field>

                    </mat-card-content>
                </div>

                <mat-card-actions class="pb-4">
                    <button [disabled]="forgotPasswordForm.invalid"
                            mat-raised-button
                            color="primary">Confirm</button>
                </mat-card-actions>
                <mat-card-footer>
                    <p class="pt-4 text-center"><a routerLink="/auth/login">Back to Login</a></p>
                </mat-card-footer>
                <div id="border-line"></div>
            </mat-card>
        </form>
    </div>
</section>

<app-footer></app-footer>
